body {
    background-color: #FADA7A;
    margin: 0 10%;
    font-family: sans-serif;
    text-align: center;
}
header {
    margin-top: 0;
    padding: 3em 1em 2em 1em;
    text-align: center;
  }
h2 {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: .5em;
    text-align: center;
    color: #c60;
  }
ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
h2 + p {
    text-align: center;
  }
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.row {
    display: flex;
}
.column {
    flex: 33.33%;
    padding: 5px;
}
p {
    text-align: center;
}
nav {
    text-align: center;
}
.container {
  margin-top: 0px;
  width: 98%;
}
#nav span {
  display: block;
}
#nav, #nav ul {
  display:block;
  list-style: none;

margin-left:1%;
  padding: 0;
}
#nav {
display: flex;
width: 100%;
 background-color: #FFF;
  float: left;
  position: relative;
width:98.7%;
padding-top:1%;
}
#nav > li {
  flex-grow: 1;
  text-align: center;
  background-color: #C4E1F6;
  float: left;
  border-bottom: 5px solid transparent;
margin-right:.2%;
  -moz-transition: all 300ms ease-in-out 0s;
  -ms-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
#nav li a {
  text-decoration: none;
  -moz-transition: color 450ms ease-in-out 0s,450ms ease-in-out 0s;
  -ms-transition: color 450ms ease-in-out 0s, 450ms ease-in-out 0s;
  -o-transition: color 450ms ease-in-out 0s, 450ms ease-in-out 0s;
  -webkit-transition: color 450ms ease-in-out 0s, 450ms ease-in-out 0s;
  transition: color 450ms ease-in-out 0s, 450ms ease-in-out 0s;
  white-space: normal;
}
#nav > li > a {
  color: #3A98B9;
padding-left:2%;
  display: block;
  font-size: 1.3em;
  line-height: 49px;
  padding: 0 15px;
  text-transform: uppercase;
}
#nav > li:hover > a, #nav > a:hover {
  background-color: #3A98B9;
  color: #ffff;
}
@media all and (max-width : 1100px) {
#nav > li {
      float: none;
      margin-bottom: 0;
  margin-top:1%;

  width:100%;
  text-align:center;
  }
#nav {
  display: block;
      background-color: #FFF;
  width:100%;
  padding-left:0;
}

#nav ul.subs {
      position: relative;
      top: 0;
  }
#nav li:hover ul.subs {
      display: none;
  }
#nav li #s1:target + ul.subs,
#nav li #s2:target + ul.subs {
      display: block;
  }
#nav ul.subs > li {
      display: block;
      width: auto;
  }
}
.link {
 margin-top:1%;
 color:#3A98B9;	
 float:left;
     margin-left: 1%;

 width:100%;
 display:block;
 background-color:#000;
 height:50px;
 text-align:center;
 font-weight: bold;
 line-height:50px;
 }